<!DOCTYPE html>
<html>

    <head>
        <title>授权结果</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <link rel="stylesheet" type="text/css" href="//a.alipayobjects.com/g/antui/antui/10.0.18/dpl/widget/message.css">
        <link rel="stylesheet" type="text/css" href="//a.alipayobjects.com/g/antui/antui/10.0.18/dpl/icon/message.css">
        <!-- https://antui.alipay.com/10.0.18/docs/#Message 信息状态 -->
    </head>

    <body>
        <div id="box_success">
            <div class="am-message result">
                <i class="am-icon result success"></i>
                <div class="am-message-main">成功</div>
                <div class="am-message-sub">内容详情，根据实际文案安排
                    <br />如果换行不超过两行</div>
            </div>
            <div class="am-button-wrap">
                <button class="am-button blue">主操作</button>
                <button class="am-button white">辅助操作</button>
            </div>
        </div>
        <div id="box_success">
            <div class="am-message result" role="alert">
                <i class="am-icon result error" aria-hidden="true"></i>
                <div class="am-message-main">失败</div>
                <div class="am-message-sub">所选银行卡余额不足</div>
            </div>
            <div class="am-button-wrap">
                <button class="am-button blue">主操作</button>
                <button class="am-button white">辅助操作</button>
            </div>
        </div>
    </body>
    <script type="text/javascript">
    </script>

</html>
