<div class="form-group">
    <label class="col-sm-2 control-label no-padding-right">[title]：</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input [required] [disabled] name="[fieldName]" pattern="[pattern]" placeholder="[placeholder]" class="form-control date-picker" onclick="WdatePicker({startDate:'[startDate]',dateFmt:'[dateFmt]',doubleCalendar:true})" value="[defaultValue]" type="text" />
            <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
        </div>
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">[helpInfo]</span>
        </span>
    </div>
</div>