{extend name="common/common"} {block name="breadcrumbs"}
<ul class="breadcrumb">
    <li class="active">
        <i class="ace-icon fa fa-home home-icon"></i>
        <span _href="#">商户</span>
    </li>
    <li class="active">
        商户管理
    </li>
    <li class="active">
        <?php echo(isset($one->shop_name)?$one->shop_name:"");?>
    </li>
</ul>
<!-- #section:basics/content.searchbox -->
{/block}
{block name="head"}
<script type="text/javascript" src="/static/common/js/jquery.qrcode.min.js"></script>
<style type="text/css">
    #qrcodebox{padding: 20px; /* border: 1px dotted blue; */ float: left; text-align: center;}
    .imgbg{background-position: center center; background-repeat: no-repeat; background-size: contain;}
</style>
{/block}
{block name="page-content"}
<div class="shopadd-body">
    <form class="form-horizontal ajaxForm" role="form" method="post" action="{:url('save')}">
        <input type="hidden" name="shop_id" value="{:$one?$one->shop_id:''}">

        <ul class="nav nav-tabs" id="recent-tab">
            <li class="active">
                <a data-toggle="tab" href="#comment-base" aria-expanded="true">基本信息</a>
            </li>

            <li class="">
                <a data-toggle="tab" href="#comment-alipay" aria-expanded="false">支付宝收银&&无感停车配置</a>
            </li>

            <!-- <li class="">
                <a data-toggle="tab" href="#comment-auto-pay-alipay" aria-expanded="false">支付宝无感停车配置</a>
            </li> -->

            <li class="">
                <a data-toggle="tab" href="#comment-wechat" aria-expanded="false">微信配置</a>
            </li>
        </ul>
        <div class="tab-content padding-8">
            <div id="comment-base" class="tab-pane active">
                {eq name=" config('saleversion')" value="3"> }

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">商户自助提交资料：</label>
                    <div class="col-sm-10">
                        <div style="padding-top: 8px;">
                            <a id="qrcodeselftoollink" href="{:request()->domain()}/agent/shopmobile/shopone/shop_id_token/{$one.shop_id_token}.html" target="_blank">{:request()->domain()}/agent/shopmobile/shopone/shop_id_token/{$one.shop_id_token}.html</a>
                            <br />
                            <br />
                            <div id="qrcodeselftool"></div>
                        </div>
                        <script type="text/javascript">
                            $("#qrcodeselftool").qrcode({
                                width: 100, //宽度
                                height:100, //高度
                                text: document.querySelector("#qrcodeselftoollink").getAttribute("href") //任意内容
                            });
                        </script>
                    </div>
                </div>

                {/eq}

                {include file="common/input" title="*签约商户名称" fieldName="shop_name" defaultValue='<?php echo(isset($one->shop_name)?$one->shop_name:"");?>' placeholder="" required="required" pattern="*" helpInfo='营业执照上面的名称'}

                <!--{include file="common/input" title="*营业执照号码" fieldName="shop_business_license" defaultValue='<?php echo(isset($one->shop_business_license)?$one->shop_business_license:"");?>' placeholder="" required="required" pattern="*" helpInfo='营业执照号码'}-->

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">*营业执照号码：</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="" pattern="*"  required="required" name="shop_business_license" value="<?php echo(isset($one->shop_business_license)?$one->shop_business_license:"");?>" title="*营业执照号码" id="shop_business_license" class="col-xs-10 col-sm-5" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">营业执照号码</span>
                    </span>
                    </div>
                </div>


                <div class="form-group">

                    <label class="col-sm-2 control-label no-padding-right">隶属代理商：</label>

                    <div class="col-sm-10">
                        <select name="shop_agent_id" id="shop_agent_id">
                            <option value="0">不指定</option>
                            {volist name="agentlist" id="vo"}
                            <option value="{$vo.agent_id}">{$vo.agent_company_name} {$vo.agent_name}</option>
                            {/volist}
                        </select>
                        <script type="text/javascript">
                            document.querySelector("#shop_agent_id").value = {$one.shop_agent_id|default=0};
                            //if({$one.shop_agent_id|default=0}>0)$("#shop_agent_id").val("shop_agent_id",{$one.shop_agent_id|default=0});
                        </script>

                    </div>

                </div>

                {include file="common/input" title="*法人/负责人" fieldName="shop_master_name" defaultValue='<?php echo(isset($one->shop_master_name)?$one->shop_master_name:"");?>' placeholder="" required="required" pattern="*" helpInfo=''}

                {include file="common/input" title="*签名的支付宝账号" fieldName="shop_alipay_account" defaultValue='<?php echo(isset($one->shop_alipay_account)?$one->shop_alipay_account:"");?>' placeholder="" required="required" pattern="*" helpInfo=''}
                {eq name=" config('saleversion')" value="3"> }
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"></label>
                    <div class="col-sm-10">
                        <a href="javascript:;" onclick="$('#otherdatainfo').toggle()">其它资料↓↓</a>
                    </div>
                </div>
                {/eq}
                <div style="display: none;" id="otherdatainfo">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">法人身份证：</label>
                        <div class="col-sm-10">
                            <ul class="ace-thumbnails clearfix">
                                {volist name="$one->shop_data_master_id_images" id="vofield"}
                                <li>
                                    <a href="{$vofield}" data-rel="colorbox" class="cboxElement">
                                        <img width="100" height="100" class="imgbg" alt="150x150" src="/static/common/image/empty.gif" style="background-image: url('{$vofield}'); " />
                                    </a>
                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top">
                                        <a href="{:str_replace('_thumb','',$vofield)}" target="_blank">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">营业执照号：</label>
                        <div class="col-sm-10">
                            <div style="padding-top: 8px;">{$one.shop_business_license}</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">营业执照：</label>
                        <div class="col-sm-10">
                            <ul class="ace-thumbnails clearfix">
                                <li>
                                    <a href="{$one.shop_business_license_picture}" data-rel="colorbox" class="cboxElement">
                                        <img width="100" height="100" class="imgbg" alt="150x150" src="/static/common/image/empty.gif" style="background-image: url('{$one.shop_business_license_picture}'); " />
                                    </a>
                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top">
                                        <a href="{:str_replace('_thumb','',$one.shop_business_license_picture)}" target="_blank">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">1张店铺招牌：</label>
                        <div class="col-sm-10">
                            <ul class="ace-thumbnails clearfix">
                                <li>
                                    <a href="{$one.shop_data_store_head_image}" data-rel="colorbox" class="cboxElement">
                                        <img width="100" height="100" class="imgbg" alt="150x150" src="/static/common/image/empty.gif" style="background-image: url('{$one.shop_data_store_head_image}'); " />
                                    </a>
                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top">
                                        <a href="{:str_replace('_thumb','',$one.shop_data_store_head_image)}" target="_blank">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">3张店铺内景照片：</label>
                        <div class="col-sm-10">
                            <ul class="ace-thumbnails clearfix">
                                {volist name="$one->shop_data_store_images" id="vofield"}
                                <li>
                                    <a href="{$vofield}" data-rel="colorbox" class="cboxElement">
                                        <img width="100" height="100" class="imgbg" alt="150x150" src="/static/common/image/empty.gif" style="background-image: url('{$vofield}'); " />
                                    </a>
                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top">
                                        <a href="{:str_replace('_thumb','',$vofield)}" target="_blank">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">收钱银行卡：</label>
                        <div class="col-sm-10">
                            <div style="padding-top: 8px;">{$one.shop_data_bank_number}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">银行开户行：</label>
                        <div class="col-sm-10">
                            <div style="padding-top: 8px;">{$one.shop_data_bank_name}</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">其它图片：</label>
                        <div class="col-sm-10">
                            <ul class="ace-thumbnails clearfix">
                                {volist name="$one->shop_data_other_images" id="vofield"}
                                <li>
                                    <a href="{$vofield}" data-rel="colorbox" class="cboxElement">
                                        <img width="100" height="100" class="imgbg" alt="150x150" src="/static/common/image/empty.gif" style="background-image: url('{$vofield}'); " />
                                    </a>
                                    <!-- #section:pages/gallery.tools -->
                                    <div class="tools tools-top">
                                        <a href="{:str_replace('_thumb','',$vofield)}" target="_blank">
                                            <i class="ace-icon fa fa-link"></i>
                                        </a>
                                    </div>

                                    <!-- /section:pages/gallery.tools -->
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">备注：</label>
                        <div class="col-sm-10">
                            <div style="padding-top: 8px;">{$one.shop_data_other_info}</div>
                        </div>
                    </div>

                    {include file="common/input" title="负责人联系电话" fieldName="shop_master_mobile" defaultValue='<?php echo(isset($one->shop_master_mobile)?$one->shop_master_mobile:"");?>' placeholder="" required="" pattern="*" helpInfo=''}

                    {include file="common/textarea" title="商户简介" placeholder="商户简介" fieldName="shop_content" defaultValue='<?php echo(isset($one->shop_content)?$one->shop_content:"");?>' helpInfo=''}

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">服务商申请状态：</label>
                        <div class="col-sm-10">
                            <div class="radio pull-left">
                                <label>
                                    <input name="shop_data_status" value="0" type="radio" class="ace" />
                                    <span class="lbl">&nbsp;&nbsp;资料完善中</span>
                                </label>
                            </div>
                            <div class="radio pull-left">
                                <label>
                                    <input name="shop_data_status" value="-1" type="radio" class="ace" />
                                    <span class="lbl">&nbsp;&nbsp;资料退回去</span>
                                </label>
                            </div>
                            <div class="radio pull-left">
                                <label>
                                    <input name="shop_data_status" value="1" type="radio" class="ace" />
                                    <span class="lbl">&nbsp;&nbsp;审核中</span>
                                </label>
                            </div>
                            <div class="radio pull-left">
                                <label>
                                    <input name="shop_data_status" value="2" type="radio" class="ace" />
                                    <span class="lbl">&nbsp;&nbsp;资料完成</span>
                                </label>
                            </div>
                            <script type="text/javascript">
                                $("input[name='shop_data_status'][value='{:isset($one->shop_data_status)?$one->shop_data_status:'0'}']").attr("checked", "checked");
                            </script>
                        </div>
                    </div>

                    {include file="common/textarea" title="申请状态说明" placeholder="申请状态说明" fieldName="shop_data_status_info" defaultValue='<?php echo(isset($one->shop_data_status_info)?$one->shop_data_status_info:"");?>' helpInfo=''}



                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> 状态：</label>
                    <div class="col-sm-10">
                        <div class="radio pull-left">
                            <label>
                                <input name="shop_active" value="1" type="radio" class="ace" />
                                <span class="lbl">&nbsp;&nbsp;开放</span>
                            </label>
                        </div>
                        <div class="radio pull-left">
                            <label>
                                <input name="shop_active" value="0" type="radio" class="ace" />
                                <span class="lbl">&nbsp;&nbsp;关闭</span>
                            </label>
                        </div>
                        <script type="text/javascript">
                            $("input[name='shop_active'][value='{:isset($one->shop_active)?$one->shop_active:'1'}']").attr("checked", "checked");
                        </script>
                    </div>
                </div>
            </div>
            <div id="comment-alipay" class="tab-pane">
                {eq name="one.shop_alipay_app_auth_token" value=""}
                <div class="alert alert-block alert-warning ">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    请使用账号是“<span style="color: red;">{$one->shop_alipay_account}</span>”的支付宝打开“商户授权链接”或扫描“商户授权二维码”
                </div>
                {/eq}

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">当前状态：</label>
                    <div class="col-sm-10" style="padding-top: 8px;">
                        <?php echo(empty($one->shop_alipay_app_auth_token)?"<span class='label label-default arrowed-in arrowed-in-right'>未授权</span>":"<span class='label label-success arrowed-in arrowed-in-right'>已授权</span>");?>

                    </div>
                </div>

                {eq name="one.shop_alipay_app_auth_token" value=""}
                <div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label no-padding-right">商户授权链接：</label>
                        <div class="col-sm-10" style="padding-top: 8px;">
                            <script type="text/javascript">
                                var redirect_uri = "{:request()->domain()}{:url('cmd/oauth/alipayset?uid='.$one->shop_id_token)}";
                                document.write(redirect_uri);
                            </script>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">商户授权二维码：</label>
                        <div class="col-sm-10">
                            <div id="qrcodebox">
                                <div id="qrcode"></div>
                                <div>请使用<br /><div style="color: red;">{$one->shop_name}</div><div style="color: red;">{$one->shop_alipay_account}</div>的支付宝扫码</div>
                            </div>
                            <div class="clearfix"></div>
                            <div style="padding-top: 10px;padding-left: 15px;">
                                <button type="button" class="btn btn-minier btn-purple" onclick="layer.alert('将虚线框的二维码及文字<br />使用QQ或微信进行截图后<br />发送给商户')">点击复制二维码及提示文字</button>
                            </div>
                            <script type="text/javascript">
                                $("#qrcode").qrcode({
                                    width: 150, //宽度
                                    height:150, //高度
                                    text: redirect_uri //任意内容
                                });
                            </script>
                        </div>
                    </div>
                </div>
                {else/}

                <div class="form-group ">
                    <label class="col-sm-2 control-label no-padding-right">操作：</label>
                    <div class="col-sm-10" style="padding-top: 8px;">
                        <button type='button' class='btn btn-minier btn-msg' onclick="thisPageApp.clear_alipay_app_auth_token()">清除授权信息</button>
                    </div>
                </div>
                {/eq}

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">*支付宝手动返佣：<br />
                        <p style="font-size: 12px;color:#666;">(10,000元返20元，则填0.0020)&nbsp;&nbsp;</p>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" value="<?php echo(isset($one->shop_attr_alipay_rates)?floatval($one->shop_attr_alipay_rates):"");?>" name="shop_attr_alipay_rates" placeholder="0.0000" title="手动返佣金额比例" onkeyup="javascript:CheckInputIntFloat(this);">
                    </div>
                </div>
            </div>

            <div id="comment-auto-pay-alipay" class="tab-pane">
                {eq name="one.shop_alipay_app_auth_token_auto_pay" value=""}
                <div class="alert alert-block alert-warning ">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    请使用账号是“<span style="color: red;">{$one->shop_alipay_account}</span>”的支付宝打开“商户授权链接”或扫描“商户授权二维码”
                </div>
                {/eq}

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">当前状态：</label>
                    <div class="col-sm-10" style="padding-top: 8px;">
                        <?php echo(empty($one->shop_alipay_app_auth_token_auto_pay)?"<span class='label label-default arrowed-in arrowed-in-right'>未授权</span>":"<span class='label label-success arrowed-in arrowed-in-right'>已授权</span>");?>

                    </div>
                </div>

                {eq name="one.shop_alipay_app_auth_token_auto_pay" value=""}
                <div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label no-padding-right">商户授权链接：</label>
                        <div class="col-sm-10" style="padding-top: 8px;">
                            <script type="text/javascript">
                                var redirect_uri_auto_pay = "{:request()->domain()}{:url('cmd/oauth/alipayset?app=auto_pay&uid='.$one->shop_id_token)}";
                                document.write(redirect_uri_auto_pay);
                            </script>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">停车场商户授权二维码：</label>
                        <div class="col-sm-10">
                            <div id="qrcodebox">
                                <div id="qrcode_auto_pay"></div>
                                <div>请使用<br /><div style="color: red;">{$one->shop_name}</div><div style="color: red;">{$one->shop_alipay_account}</div>的支付宝扫码</div>
                            </div>
                            <div class="clearfix"></div>
                            <div style="padding-top: 10px;">
                                <button type="button" class="btn btn-minier btn-purple" onclick="layer.alert('将上方的二维码及文字<br />使用QQ或微信进行截图后<br />发送给商户')" style="margin-left:50px">点击提示文字</button>
                            </div>
                            <script type="text/javascript">
                                $("#qrcode_auto_pay").qrcode({
                                    width: 150, //宽度
                                    height:150, //高度
                                    text: redirect_uri_auto_pay //任意内容
                                });
                            </script>
                        </div>
                    </div>
                </div>
                {else/}

                <div class="form-group ">
                    <label class="col-sm-2 control-label no-padding-right">操作：</label>
                    <div class="col-sm-10" style="padding-top: 8px;">
                        <button type='button' class='btn btn-minier btn-msg' onclick="thisPageApp.clear_alipay_app_auth_token_auto_pay()">清除授权信息</button>
                    </div>
                </div>
                {/eq}

            </div>
            <div id="comment-wechat" class="tab-pane">

                <!--{include file="common/input" title="微信支付商户号" fieldName="shop_wxpay_sub_mch_id" defaultValue='<?php echo(isset($one->shop_wxpay_sub_mch_id)?$one->shop_wxpay_sub_mch_id:"");?>' placeholder="" required="" pattern="*" helpInfo='服务商·微信支付商户平台->特约商户管理->某商户->开发配置->商户号'}-->


                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">*微信支付商户号：</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="" pattern="*"   name="shop_wxpay_sub_mch_id" value="<?php echo(isset($one->shop_wxpay_sub_mch_id)?$one->shop_wxpay_sub_mch_id:"");?>" title="微信支付商户号" id="shop_wxpay_sub_mch_id" class="col-xs-10 col-sm-5" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" oninput="if(value.length>10)value=value.slice(0,10)" />
                        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">服务商·微信支付商户平台->特约商户管理->某商户->开发配置->商户号</span>
        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">支付后自动关注的微信：</label>
                    <div class="col-sm-10" style="padding-top: 9px;">
                        在“<a href="https://pay.weixin.qq.com/index.php/core/affiliate" target="_blank">服务商·微信支付商户平台</a>->特约商户管理->某商户->开发配置->关注公众号”
                        <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="1、已经关注的不展示推荐栏<br />2、服务号未设置头像的在IOS不展示推荐关注栏<br />3、用户取消过关注的默认不勾选<br />4、对于粉丝数大于50w的不默认勾选关注<br />5、公众号支付和扫码支付需要5元以上才有推荐关注" title="关注规则">?</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">*微信手动返佣：<br />
                        <p style="font-size: 12px;color:#666;">(10,000元返20元，则填0.0020)&nbsp;&nbsp;</p>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" value="<?php echo(isset($one->shop_attr_wxpay_rates)?floatval($one->shop_attr_wxpay_rates):"");?>" name="shop_attr_wxpay_rates" placeholder="0.0000" title="手动返佣金额比例"  onkeyup="javascript:CheckInputIntFloat(this);">
                    </div>
                </div>
            </div>
        </div>










        <div class="space-4"></div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit" id="submit_button">
                    <i class="ace-icon fa fa-check bigger-110"></i> 保存
                </button>
                &nbsp; &nbsp; &nbsp;
                <a class="btn" href="{:session('historylistpage')}">
                    <i class="ace-icon fa fa-undo bigger-110"></i> 返回
                </a>
            </div>
        </div>
        <div class="hr hr-24"></div>
    </form>
</div>
{/block}

{block name="floot"}
<script>
    function CheckInputIntFloat(oInput) {
        if('' != oInput.value.replace(/\d{1,}\.{0,1}\d{0,}/,'')) {
            oInput.value = oInput.value.match(/\d{1,}\.{0,1}\d{0,}/) == null ? '' :oInput.value.match(/\d{1,}\.{0,1}\d{0,}/);
        }
    }
    $("#submit_button").on('click', function() {
        var shop_name = $("input[name='shop_name']").val();
        var shop_business_license = $("input[name='shop_business_license']").val();
        var shop_master_name = $("input[name='shop_master_name']").val();
        var shop_alipay_account = $("input[name='shop_alipay_account']").val();

        if (shop_name == '' || shop_name==null) {
            alert('请输入代理商名称');
            return false;
        }
        if(shop_business_license==''){
            alert('请输入营业执照号码');
            return false;
        }
        if(shop_master_name==''){
            alert('请填写负责人');
            return false;
        }
        if(shop_alipay_account==''){
            alert('请填写支付宝账号');
            return false;
        }
    });
</script>

<!--<script type="text/javascript">-->
<!--function verify() {-->
<!---->
<!--var shop_name = $("input[name='shop_name']").val();-->
<!--var shop_business_license = $("input[name='shop_business_license']").val();-->
<!--var shop_master_name = $("input[name='shop_master_name']").val();-->
<!--var shop_alipay_account = $("input[name='shop_alipay_account']").val();-->
<!--alert(shop_name);-->
<!--alert(shop_business_license);-->
<!--alert(shop_master_name);-->
<!--alert(shop_alipay_account);-->
<!--if (shop_name == '' || shop_name==null) {-->
<!--alert('请输入代理商名称');-->
<!--return false;-->
<!--}-->
<!--if(shop_business_license==''){-->
<!--alert('请输入营业执照号码');-->
<!--return false;-->
<!--}-->
<!--if(shop_master_name==''){-->
<!--alert('请填写负责人');-->
<!--return false;-->
<!--}-->
<!--if(shop_alipay_account==''){-->
<!--alert('请填写支付宝账号');-->
<!--return false;-->
<!--}-->
<!--}-->
<!--</script>-->
<script type="text/javascript">
    var thisPageApp={
        clear_alipay_app_auth_token:function(){
            layer.confirm('清除授权信息后支付宝将不能收款', {
                title:"警告",
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    url:"{:url('shop/clearalipayauthtoken')}",
                    data:{shop_id:{:input('shop_id')}},
                success:function(rs){
                    if(rs.code==1)
                    {
                        alert("清除成功");
                        window.location.reload();
                    }
                    else
                    {
                        layer.msg(rs.message);
                    }
                },
                error:function(rs){
                    layer.alert(JSON.stringify(rs));
                }
            })
            }, function(){

            });
        },
        clear_alipay_app_auth_token_auto_pay:function(){
            layer.confirm('清除授权信息后停车场将不能收款', {
                title:"警告",
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    url:"{:url('shop/clearalipayauthtokenautopay')}",
                    data:{shop_id:{:input('shop_id')}},
                success:function(rs){
                    if(rs.code==1)
                    {
                        alert("清除成功");
                        window.location.reload();
                    }
                    else
                    {
                        layer.msg(rs.message);
                    }
                },
                error:function(rs){
                    layer.alert(JSON.stringify(rs));
                }
            })
            }, function(){

            });
        },
    }
</script>
{/block}