<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <script type="text/javascript">
        window.jQuery || document.write("<script src='../js/jquery.js'>" + "<" + "/script>");
        </script>
    </head>
    <body>
        <p>This is about.</p>
    </body>
</html>