{extend name="common/common"}
{block name="navbar"}
{/block}
{block name="nav-list"}
{/block}

{block name="breadcrumbs"}
<!-- #section:basics/content.searchbox -->
<!-- #section:basics/content.searchbox -->
<style>
	.page-content{
		margin: 0;
	}
</style>
<ul class="breadcrumb">
    <li class="active">
        <i class="ace-icon fa fa-home home-icon"></i>
        <span _href="#">商户中心中心</span>
    </li>
    <li class="active">
        经营场地
    </li>
</ul>
<div class="nav-search nav-positions" id="nav-search">
    <form class="form-search form-inline">
        <span class="input-icon">
            <input type="text" placeholder="关键词" name="keyword" value="{:input('get.keyword')}" class="nav-search-input" autocomplete="off" />
            <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
        <input type="submit" class="btn btn-info btn-xs " value="搜索">
        {if checkActionAuth("shop/index","add")}
        <a href="{:url('add?store_shop_id='.input("store_shop_id"))}" class="btn btn-info btn-xs "><i class="glyphicon glyphicon-plus"></i>新增经营场地</a>
        <a href="{:url('car_park_add?store_shop_id='.input("store_shop_id"))}" class="btn btn-info btn-xs "><i class="glyphicon glyphicon-plus"></i>新增停车场</a>
        {/if}
    </form>
</div>
{/block} {block name="page-content"}
<div class="admin-body">
<form action="" id="form2" method="POST">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="20">
                    <input class="ace" onclick="javascript:thisApp.selectByChecked($(this),'store_id');" type="checkbox" />
                    <span class="lbl"></span>
                </th>
                <th width="50">ID</th>
                <th>经营场地名称</th>
                <th width="200">管理</th>
                <th width="151"><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>新增时间</th>
                <th width="120">操作</th>
            </tr>
        </thead>
        {volist name="lists" id="vo"}
        <tr >
            <td align="center">
                <input class="ace" name="store_id[]" type="checkbox" value="{$vo.store_id}" />
                <span class="lbl"></span>
            </td>
            <td>{$vo.store_id}</td>
            <td>
                {$vo.store_name}
                <!--{if $vo.store_is_park}-->
                    <!--<div><p style="color: #ccc;">支付宝parking id：{$vo.parking_ali_parking_id}</p></div>-->
                <!--{/if}-->
            </td>
            <td>
                <a href="{:url('user/index?user_store_id='.$vo['store_id'])}" ajax='{"window":"iframe","width":"800px","height":"600px"}' class="btn btn-info btn-xs" title="《{$vo.store_name}》收银账号管理"><i class="ace-icon fa fa-users"></i>收银账号</a>
                {eq name="vo.store_open_reward" value="1"}
                {eq name=" config('saleversion')" value="3"> }
                <a href="{:url('reward/index?user_store_id='.$vo['store_id'])}" ajax='{"window":"iframe","width":"800px","height":"600px"}' class="btn btn-success btn-xs" title="《{$vo.store_name}》打赏方案管理"><i class="ace-icon fa fa-users"></i>打赏金额</a>
                {/eq}
                {/eq}
            </td>
            <td>{$vo.store_addtime}</td>
            <td>
                {if checkActionAuth('shop/index','add')}
                    {if $vo.store_is_park}
                        <a href="{:url('car_park_add?store_id='.$vo['store_id'])}" class="tooltip-success" data-rel="tooltip" title="编辑"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span>编辑</a>&nbsp;
                    {else /}
                        <a href="{:url('add?store_id='.$vo['store_id'])}" class="tooltip-success" data-rel="tooltip" title="编辑"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span>编辑</a>&nbsp;
                    {/if}
                {/if}

                {if checkActionAuth('shop/index','delete')}
                <a ajax='{"confirm":"删除吗？","url":"{:url("delete?store_shop_id=".input("store_shop_id")."&store_id=" .$vo["store_id"])} "}' href="javascript:; " class="tooltip-error "><span class="red "><i class="ace-icon fa fa-trash-o bigger-120 "></i></span>删除</a>
                {/if}
            </td>
        </tr>
        {/volist}
    </table>
</form>
<div class="pull-left ">
    
    <!-- <a onclick="doloadtable() " class="btn btn-white btn-inverse btn-sm " href="javascript:; ">
                                        导出表格
                                    </a> -->
</div>
<div class="pull-right ">
    <p style="text-align:right;">共{$lists->total()}条记录</p>
    {$lists->render()}
</div>
<div class="clearfix ">
</div>
</div>
{/block}
