<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    	<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>收款-支付系统</title>
		<link rel="stylesheet" type="text/css" href="../assets/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/css/css.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/css/skin-blue.css"/>
	</head>
	<body>
		<div class="col-xs-12">
			<div class="row">
				<div class="top-banner">
					<div class="compnay-logo">专注科技移动支付系统</div>
					<span class="btn-close-window"><i class="glyphicon glyphicon-remove"></i></span>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-2 nav-side">
					<div class="nav-side-top-space"></div>
					<div class="user-side">
						<div class="face-img"></div>
						<div class="nickname">杭州远航副食品文一店</div>
					</div>
					<div class="nav-side-nav">
						<div class="item"><span>收款</span></div>
						<div class="item"><span>押金</span></div>
						<div class="item"><span>订单</span></div>
						<div class="item"><span>退款</span></div>
					</div>
					<div class="nav-side-setting">
						<div class="item"><span><i class="m-icon glyphicon glyphicon-cog"></i>设置</span></div>
						<div class="nav-side-vision">版本：3.8.4</div>
					</div>
				</div>
				<div class="col-xs-10">
					right
				</div>
			</div>
		</div>
	</body>
</html>