<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    	<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>押金-支付系统</title>
		<link rel="stylesheet" type="text/css" href="/static/index/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_513044_ahc156s6ixczyqfr.css"/>
		<link rel="stylesheet" type="text/css" href="/static/index/assets/css/css.css"/>
		<link rel="stylesheet" type="text/css" href="/static/index/assets/css/skin-blue.css"/>
	</head>
	<body>
		<div class="container">
			<div class="space-15"></div>
			<div class="col-xs-8">
				<div class="form-horizontal">
					<div class="form-group">
						<input type="text" class="form-control text-right" id="Price" value="" placeholder="冻结金额" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control text-right" id="Code" value="" placeholder="付 款 码"/>
					</div>
				</div>
				<div class="row">
					<div class="number-keyboard">
						<div class="numbers">
							<div class="item"><span>9</span></div>
							<div class="item"><span>8</span></div>
							<div class="item"><span>7</span></div>
							<div class="item"><span>6</span></div>
							<div class="item"><span>5</span></div>
							<div class="item"><span>4</span></div>
							<div class="item"><span>3</span></div>
							<div class="item"><span>2</span></div>
							<div class="item"><span>1</span></div>
							<div class="item"><span>0</span></div>
							<div class="item"><span>00</span></div>
							<div class="item"><span>.</span></div>
						</div>
						<div class="tools">
							<div class="item tool"><span>退格</span></div>
							<div class="item tool"><span>清空</span></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="space-10"></div>
					<button class="btn btn-lg btn-block btn-success">确认冻结金额</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="suport-payment">
					<i class="iconfont icon-alipay"></i>
					<i class="iconfont icon-wechatpay"></i>
				</div>
				<div class="payment-primary">应收金额：<em><i class="iconfont icon-yen"></i><span>500.00</span></em></div>
				<div class="payment-animation">
					<img src="../assets/images/timg.gif">
				</div>
			</div>
			
			<div class="col-xs-12">
				<div class="row">
					<div class="space-15"></div>
					<div class="space-15"></div>
					<div class="panel">
						<div class="panel-heading line"><span class="panel-title">最新订单</span></div>
						<div class="panel-body order-nearly">
							<div class="col-xs-3">
								<div class="panel panel-blue">
									<div class="panel-heading"><span class="panel-title"><i class="m-icon iconfont icon-alipay"></i>支付宝</span></div>
									<div class="panel-body">
										<h3>&yen;100</h3>
									</div>
									<div class="panel-footer text-right">2012-12-12 12:12</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="panel panel-green">
									<div class="panel-heading"><span class="panel-title"><i class="m-icon iconfont icon-wechatpay"></i>微信</span></div>
									<div class="panel-body">
										<h3>&yen;100</h3>
									</div>
									<div class="panel-footer text-right">2012-12-12</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="panel panel-default">
									<div class="panel-heading"><span class="panel-title"><i class="m-icon iconfont icon-alipay"></i>支付宝 <i class="iconfont icon-back-money-font"></i></span></div>
									<div class="panel-body">
										<h3>&yen;100</h3>
									</div>
									<div class="panel-footer text-right">2012-12-12</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="panel panel-blue">
									<div class="panel-heading"><span class="panel-title">支付宝</span></div>
									<div class="panel-body">
										<h3>&yen;100</h3>
									</div>
									<div class="panel-footer text-right">2012-12-12</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="panel panel-blue">
									<div class="panel-heading"><span class="panel-title">支付宝</span></div>
									<div class="panel-body">
										<h3>&yen;100</h3>
									</div>
									<div class="panel-footer text-right">2012-12-12</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</body>
</html>


