{extend name="common/common"} {block name="breadcrumbs"}
<ul class="breadcrumb">
	<li class="active">
		<i class="ace-icon fa fa-home home-icon"></i>
		<span _href="#">商品管理</span>
	</li>
	<li class="active">
		编辑商品
	</li>
</ul>
<!-- #section:basics/content.searchbox -->
{/block} {block name="page-content"}
<div class="add-body">
<form class="form-horizontal ajaxForm" role="form" method="post" action="{:url('savegoods')}" id="upload" enctype="multipart/form-data">

	<input type="hidden" id="goods_id" name="goods_id" value="{$good.goods_id}">

<div class="form-group">
	<label class="col-sm-2 control-label no-padding-right">商品名称：</label>
    <div class="col-sm-10">
        <input type="text" placeholder="" name="goods_name" value="{$good.goods_name}" title="商品名称" id="goods_name" class="col-xs-10 col-sm-5" />
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
        </span>
    </div>
</div>
	

	<!-- {include file="common/input" title="所属分类" fieldName="agent_name" defaultValue='' placeholder="" required="required"
	pattern="*" helpInfo=''} -->

	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right">*商品分类：</label>
		<div class="col-sm-10">
			<input type="hidden" value="{$good.cate_id}" id="up"/>
			<select class="col-xs-10 col-sm-5" name="goods_sort" id="goods_sort" >




				{volist name="cate_list" id="vo"}

					<option value="{$vo.category_id}">{$vo.category_name}</option>
				
				{/volist}
			</select>
			<!-- <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">[helpInfo]</span>
        </span> -->
		</div>
	</div>


	<!-- <div class="file-box">
    <img id="preview" />
    <input type="text" id="imgfield" class="txt" placeholder="预览">
    <input type="file" name="file" id = "input_file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" "imgPreview(this)" >	
</div> -->


	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right">*商品图片</label>
		<div class="col-sm-10">
			<img id="preview" style="width:38px;height: 38px;float: left;" src="{$good.img}" />
			<input type="text" id="imgfield" class="txt" placeholder="预览" value="{$good.img}" style="display: none">
			<input type="file" name="file" id="input_file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,image/bmp" onchange="imgPreview(this)">
            <span style="font-size: 12px;color: #ccc;">（仅限制上传png,jpg,gif格式）</span>
			<!-- <input type="file" accept="image/*" name="file" id="file" value="" name="goods_picurl"/> -->
		</div>
	</div>
	
	<div class="form-group">
    <label class="col-sm-2 control-label no-padding-right">*商品价格：</label>
    <div class="col-sm-10">
        <input type="text" placeholder=""   name="goods_price" value="{$good.price}" title="商品价格" id="goods_price" class="col-xs-10 col-sm-5" onkeyup="javascript:CheckInputIntFloat(this);" />
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
        </span>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label no-padding-right">商品单位：</label>
    <div class="col-sm-10">
        <input type="text" placeholder=""  name="goods_unit" value="{$good.goods_unit}" title="商品单位" id="goods_unit" class="col-xs-10 col-sm-5" />
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
        </span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label no-padding-right">备注</label>
    <div class="col-sm-10">
        <input type="text" placeholder=""  name="remark" value="{$good.remark}" title="备注" id="remark" class="col-xs-10 col-sm-5" />
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
        </span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label no-padding-right">分类排序：</label>
    <div class="col-sm-10">
        <input type="text" placeholder="[placeholder]"   name="sort" value="{$good.sort}" title="分类排序" id="goods_sortid" class="col-xs-10 col-sm-5" />
        <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
        </span>
    </div>
</div>
	<!-- {include file="common/input" title="商品价格" fieldName="goods_price" defaultValue='{$good.price}' placeholder="" required="" -->
	<!-- pattern="*" helpInfo=''} -->

	<!-- {include file="common/input" title="商品单位" fieldName="goods_unit" defaultValue='{$good.price}' placeholder="" -->
	<!-- required="required" pattern="*" helpInfo=''} -->

	<!-- {include file="common/input" title="备注" fieldName="remark" defaultValue='{$good.goods_unit}' placeholder="" -->
	<!-- required="required" helpInfo=''} -->

	<!-- {include file="common/input" title="分类排序" fieldName="goods_sortid" defaultValue='{$good.sort}' placeholder="" -->
	<!-- required="required" pattern="*" helpInfo=''} -->



	<div class="space-4"></div>
	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button class="btn btn-info" type="button" id="submit">
				<i class="ace-icon fa fa-check bigger-110"></i> 提交
			</button>
			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="button" onclick="history.back();">
				<i class="ace-icon fa fa-undo bigger-110"></i> 返回
			</button>
		</div>
	</div>
	<div class="hr hr-24"></div>
</form>
</div>
<script type="text/javascript">
    function CheckInputIntFloat(oInput) {
        if('' != oInput.value.replace(/\d{1,}\.{0,1}\d{0,}/,'')) {
            oInput.value = oInput.value.match(/\d{1,}\.{0,1}\d{0,}/) == null ? '' :oInput.value.match(/\d{1,}\.{0,1}\d{0,}/);
        }
    }
    $(document).ready(function(){
        var x = document.getElementById("up").value;/* 如果你用的“变量”是input的话，这里就要写成.value了 */
        $("#goods_sort").val(x);/* 这句话设置select中value为x的项被选中,例如$("#slt").val(“本科”)就表示<option>本科</option>被选中*/
    });
</script>
<script>


	// var file=document.getElementById('file');
	// file.addEventListener("change",function(){
	// 	$.ajax({
	// 		type:'post', 
	//            url:'/user/goods_manage/uploadimage.html',
	//            img:this.files[0],
	// 		processData:false,
	//            success：function(res){
	//                console.log(res);
	//            }
	//        })
	// });
	// function uploadImg(this){
	// 	// event.target.files;
	// 	$.post("/user/goods_manage/uploadimage.html", {			
	// 		img:this.files[0],
	// 	}, function(res) {
	// 		console.log(res);
	// 	});
	// }
	function imgPreview(fileDom) {
		//判断是否支持FileReader
		if (window.FileReader) {
			var reader = new FileReader();
		} else {
			alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
		}
        var file = fileDom.files[0];
        // alert(file.name);
        var imageType = /^image\//;
        var fileFormat = file.name.substring(file.name.lastIndexOf(".")).toLowerCase();
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        else if(!fileFormat.match(/.png|.jpg|.jpeg|.gif/)){
            alert('上传错误,文件格式必须为：png/jpg/jpeg/gif');
            return;
        }
		//读取完成
		reader.onload = function(e) {
			//获取图片dom
			var img = document.getElementById("preview");
			//图片路径设置为读取的图片
			img.src = e.target.result;
		};
		reader.readAsDataURL(file);

		var formData = new FormData();
		formData.append('img', $('#input_file')[0].files[0]); //添加图片信息的参数
		$.ajax({
			url: '/user/goods_manage/uploadimage.html',
			type: 'POST',
			cache: false, //上传文件不需要缓存
			data: formData,
			processData: false, // 告诉jQuery不要去处理发送的数据
			contentType: false, // 告诉jQuery不要去设置Content-Type请求头
			success: function(data) {
				console.log(data);
				$("#imgfield").val(data.data);
				console.log($("#input_file").val());
				// var rs = eval("(" + data + ")");
				// if (rs.state == 1) {
				// 	tipTopShow('上传成功！');
				// } else {
				// 	tipTopShow(rs.msg);
				// }
			},
			error: function(data) {
				// tipTopShow("上传失败");
				console.log(data);
			}
		});
	}

	$("#submit").click(function() {
		var goods_id=$("#goods_id").val();
		var name = $("#goods_name").val();
		var sort = $("#goods_sort").val();
		var picurl = $("#imgfield").val();
		if(picurl.indexOf("http")==-1){
		 picurl=picurl.substr(1,picurl.length);
}
		var price = $("#goods_price").val();
		var unit = $("#goods_unit").val();
		var sortid = $("#goods_sortid").val();
		var remark = $("#remark").val();

        if(name==""||name==null){
            alert("请输入商品名")
        }
        else if (picurl==""){
            alert("请选择商品图片")
        }
        else if (price==""){
            alert("请输入价格")
        }
        // else if(sort==""){
        //     alert("请输入分类类别")
        // }
        else{
            $.post("/user/goods_manage/savegoods.html", {
                goods_name: name,
                cate_id: sort,
                price: price,
                goods_unit: unit,
                sort: sortid,
                img: picurl,
                goods_id: goods_id,
                remark: remark
            }, function(res) {

                if (res.code == 200) {
                    window.location.href = res.url;
                }
                else{
                    alert(res.msg);
				}
            });
        }

	});
	//
</script>
{/block}

{block name="head"}
<script src="/static/common/js/tableExport/jquery.base64.js"></script>
<script src="/static/common/js/tableExport/tableExport.js"></script>
<script type="text/javascript" src="/static/common/js/bootstrapPaginator.js"></script>
<script type="text/javascript">
    $(function() {
        check_login();
        $("#store-name").html(store_name);
        $("#user-name").html(user_realname);
        $("#log-off").on('click', function() {
            clear_cookie();
            $(location).attr('href', common_url + '/user/index/login');
        });

    });
    /**
     function g(a){
		// layer.msg
		layer.confirm('删除？', {
		  btn: ['确定', '取消'] //可以无限个按钮
		  ,yes: function(index, layero){
			//按钮【按钮三】的回调
		  }
		,btn2: function(index, layero){
		  //按钮【按钮一】的回调
		});
		console.log(a);
	}
	*/
</script>
{/block}

