<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <title>登入-商户资料收集(手机端)</title>
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
        <style type="text/css">
        .basepage {}
        .basepage .boxwarp {
            padding-top: 20px;
        }
        .page_title,
        .page_desc {
            padding-left: 10px;
        }
        body {
            padding-bottom: 3em;
        }
        .weui-footer {
            margin-top: 2em;
        }
        </style>
    </head>
    <body>
        <div class="container js_container">
            <div class="page">
                <div class="page__bd">
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__bd"><strong>登入</strong></div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">账号</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" id="user_name" type="number" pattern="[0-9]*" placeholder="通常为手机号" />
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">密码</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" id="user_password" type="password" pattern="*{6,}" placeholder="输入密码" />
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_vcode">
                            <div class="weui-cell__hd">
                                <label class="weui-label">验证码</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" id="captcha_value" maxlength="4" pattern="*{4,}" type="text" placeholder="验证码" />
                            </div>
                            <div class="weui-cell__ft">
                                <img class="weui-vcode-img" id="captchaimg" src="#" onclick="thispage.resetcaptcha()" />
                            </div>
                        </div>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:thispage.dosubmit();" id="showTooltips">确定</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-footer">
            <p class="weui-footer__text">
                服务商：{:config('site_title')}
                <br />电话：<a href="tel:{$sysconfig->telphone}">{$sysconfig->telphone}</a> © {:date("Y")}
            </p>
        </div>
    </body>
    <script type="text/javascript" src="//res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script type="text/javascript">
    window.jQuery || document.write("<script src='/static/dl/assets/js/jquery.js'>" + "<" + "/script>");
    var captcha_identifier = "";
    var thispage={
        resetcaptcha:function(){
              captcha_identifier = Date.parse(new Date()) +""+ parseInt(Math.random()*(99999999-111111+1)+111111);
              document.querySelector("#captchaimg").setAttribute("src","/api/index/getcaptcha?identifier="+captcha_identifier);
        },
        dosubmit:function(){
            var user_name = document.querySelector("#user_name").value;
            var user_password = document.querySelector("#user_password").value;
            var captcha_value = document.querySelector("#captcha_value").value;
            if(!user_name)
            {
                  alert("输入用户名");
                  return false;
            }
            if(!user_password)
            {
                  alert("输入密码");
                  return false;
            }
            if(!captcha_value)
            {
                  alert("输入验证码");
                  return false;
            }
            var param={
                "user_name":user_name,
                "user_password":user_password,
                "captcha_type" : "image",
                "captcha_value" : captcha_value,
                "captcha_identifier":captcha_identifier,
            };
            $.ajax({
                type:"post",
                dataType:"json",
                data:param,
                success:function(rs){
                    if(rs.code==1)
                    {
                        window.location.href='{:url("index")}';
                    }
                    else {
                        thispage.resetcaptcha();
                        alert(rs.message);
                    }
                }
            });
        }
    };
    thispage.resetcaptcha();
    </script>
</html>
