{extend name="common/common"} {block name="breadcrumbs"}
<ul class="breadcrumb">
    <li class="active">
        <i class="ace-icon fa fa-home home-icon"></i>
        <span _href="#">修改密码</span>
    </li>
</ul>
{/block} {block name="page-content"}
<script type="text/javascript">
	$(function(){
		check_login();
		/*alert(store_name);*/
		$("#store-name").html(store_name);
		$("#user-name").html(user_realname);
		$("#log-off").on('click',function(){
			clear_cookie();
			$(location).attr('href', common_url+'/user/index/login');
		});
	});
</script>
<!-- PAGE CONTENT BEGINS -->
<div class="">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1">旧密码</label>	
			<div class="col-sm-9">
				<input type="password" id="old-password" name="old-password" class="col-xs-10 col-sm-5">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码</label>	
			<div class="col-sm-9">
				<input type="password" id="new-password" name="new-password" class="col-xs-10 col-sm-5">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1">确认密码</label>	
			<div class="col-sm-9">
				<input type="password" id="confirm-password" name="confirm-password" class="col-xs-10 col-sm-5">
			</div>
		</div>
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info btn-submit" type="button">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>
			</div>
		</div>
	</form>
</div>
<div class="space-10"></div>
<script type="text/javascript">
	$(function(){
		$(".btn-submit").on('click',function(){
			var oldpassword=$("input[name='old-password']").val();
			var newpassword=$("input[name='new-password']").val();
			var confirmpassword=$("input[name='confirm-password']").val();
			var microtime=Date.parse(new Date())/1000;
			if(oldpassword==''){
				alert("旧密码不能为空！");return;
			}
			if(newpassword==''){
				alert("新密码不能为空！");return;
			}
			if(confirmpassword!=newpassword){
				alert('两次密码不一致，请重新输入！');return;
			}
            var postParam = {

                user_id: user_id,

                oldpassword: oldpassword,

                newpassword: newpassword,

                version: 1,

                time: microtime
            };
            var sign =getsign(postParam);
            postParam.sign = sign; //不这么传值下，有错误
            $.ajax({
            	type:"post",
            	url:common_url+"/api/user/updateloginpassword",
            	dataType:'json',
            	data:postParam,
            	success:function(res){
            		if(res.code){
            			$.cookie('user_token', null); 
            			$.cookie('user_token', res.data.user_token, {  path: '/' });
            			alert("修改成功！");            			
            		}else{
            			alert(res.message);
            		}
            	}
            });
		});
	});
</script>
<!-- PAGE CONTENT ENDS -->
{/block}